/.vs/
/Temp/

/Glutspeicher */bin/
/Glutspeicher */Build/
/Glutspeicher */Data/
/Glutspeicher */obj/

/Glutspeicher */**/*.user

/Glutspeicher Agent/Deploy.targets

/Glutspeicher Server/wwwroot/static/csv/
